@import "theme.css";

* {
  font-size: 16px;
  font-family: "MesloLGS Nerd Font";
  min-height: 0;
}

window#waybar {
  background-color: @base;
  color: @text;
}

button:hover {
  background: inherit;
  box-shadow: none;
  border: none;
  font-weight: normal;
}

#workspaces button {
  padding: 0 5px;
  color: @text;
  background-color: @overlay;
  border: none;
  border-radius: 0;
  transition: none;
}

#workspaces button.active {
  color: @love;
  font-weight: bold;
}

#custom-left-section-separator,
#custom-right-section-separator {
  color: @overlay;
  background-color: transparent;
}

#custom-right-component-separator {
  background-color: @overlay;
}

#network {
  color: @gold;
}

#pulseaudio {
  color: @rose;
}

#clock, #date {
  color: @pine;
}

#time {
  color: @foam;
}

#network,
#pulseaudio,
#clock {
  background-color: @overlay;
  padding: 0 10px;
}

#network .icon,
#pulseaudio .icon,
#clock .icon {
  padding: 0 5px;
}

#network.disconnected,
#pulseaudio.muted {
  color: @muted;
}
